@import './fonts';
@import "./variables";
@import "./mixins";
@import "./animations";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $deep-blue;
  color: $white;

  @include lato-regular($root-font-size);

  &.no-scroll {
    overflow: hidden;
  }
}

a {
  color: $white;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  line-height: 1.2;

  @include lato-bold(18px);

  @include tablet {
    @include lato-bold(24px);
  }

  @include desktop {
    @include lato-bold(32px);
  }
}

svg {
  position: relative;
  width: 100%;
  height: 100%;
}
