@keyframes slide-from-right {
  0% {
    transform: translateX(70%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-from-top {
  0% {
    transform: translateY(-70%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-from-bottom {
  0% {
    transform: translateY(70%);
  }

  100% {
    transform: translateY(0);
  }
}
