@import "../../styles/variables";
@import "../../styles/mixins";

.main-application-menu {
  display: block;
  position: fixed;
  left: 0;
  top: $mobile-header-height;
  background-color: $black;
  width: 100%;
  height: calc(100% - $mobile-header-height);
  @include animation(slide-from-right, 0.1s);

  &__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    list-style: none;
  }

  &__link {
    @include lato-bold(32px);
  }
}
